
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">

    <title>ERROR</title>
</head>
<body class="errorbody">
    <img src="images/errorlove.png" alt="errorimg" class="errorImg">
    <main class="error-warpper">
        {{{ body }}}
    </main>

    <a href="/" class="backbutton">BACK  HOME</a>
</body>
</html>